<div id="dcw-left-wrapper">
  <ul>
    <li><%= link_to docs_search_path do %>Search<% end %></li><br>
    <li class="dcw-item-active"><%= link_to docs_cell_lines_path do %>Cell lines<% end %></li>
    <li><%= link_to docs_tissues_path do %>Tissues<% end %></li>
    <li><%= link_to docs_drugs_path do %>Drugs<% end %></li>
    <li><%= link_to docs_datasets_path do %>Datasets<% end %></li>
    <li><%= link_to docs_datasets_intersection_path do %>Datasets Intersection<% end %></li>
    <li><%= link_to docs_cell_line_vs_drug_path do %>Cell line vs. Drug<% end %></li>
    <!-- <li><%= link_to docs_api_path do %>API<% end %></li> -->
  </ul>
</div>
