<footer id="footer">
	<div id="footer-wrapper">
		<div id="ftr-side-wrapper">
			<ul>
				<li class="ftr-clmn-title">Site</li>
				<li><%= link_to root_path do %>Home<% end %></li>
				<li><%= link_to about_path do %>About<% end %></li>
				<li><%= link_to docs_path do %>Documentation<% end %></li>
				<!-- <li><%= link_to "PharmacoGx", "https://bioconductor.org/packages/release/bioc/html/PharmacoGx.html", :target => "_blank" %></li> -->
				<li><%= link_to pharmacogx_path do %> PharmacoGx <%end%> </li>
				<li><%= link_to "Cite Us!", "/cite_us" %></li>
			</ul>
			<ul>
				<li class="ftr-clmn-title">Tools</li>
				<li><%= link_to search_path do %>Search<% end %></li>
				<li><%= link_to "GitHub", "https://github.com/bhklab/PharmacoDB-web", :target => "_blank" %></li>
			</ul>
			<ul>
				<li class="ftr-clmn-title">Datatypes</li>
				<li><%= link_to datasets_path do %>datasets<% end %></li>
				<li><%= link_to cell_lines_path do %>cell lines<% end %></li>
				<li><%= link_to tissues_path do %>tissues<% end %></li>
				<li><%= link_to drugs_path do %>drugs<% end %></li>
				<li><%= link_to targets_path do %>targets<%end%></li>
				<li><%= link_to experiments_path do %>experiments<% end %></li>
			</ul>
			<div id="ftr-contact">
				<a target="_blank" href="https://www.pmgenomics.ca/bhklab/" title="">BHKLAB</a>
				<p>The MaRS Center</p>
				<p>TMDT room 11-310</p>
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> 101 College Street Toronto, ON</p>
				<p>M5G 1L7, Canada</p>
			</div>
		</div>
		<small>Copyright &copy; <%= Time.current.year %>. All rights reserved.</small>
	</div>
</footer>
