	<% provide(:title, "About") %>
<div id="hdr-default-base">
	<%= render 'components/header' %>
</div>
<%= render 'components/sidebar' %>
<!-- about section -->
<section id="about-container">
	<h2>About PharmacoDB</h2>
	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;High throughput drug screening technologies have enabled the profiling of hundreds of cancer cell lines to a large variety of small molecules to discover novel and repurposed treatments. Several large studies have been publicly released testing candidate molecules, often with corresponding molecular profiles of the cell lines used for drug screening. These studies have become invaluable resources for the research community, allowing researchers to leverage the collected data to support their own research. However, such pharmacogenomic datasets are disparate and lack of standardization for cell line and drug identifiers, and used heterogeneous data format for the drug sensitivity measurements.</p>
	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To address these issues, we developed PharmacoDB, a web-application assembling the largest in vitro drug screens in a single database, and allowing users to easily query the union of studies released to date. PharmacoDB allows scientists to  search across publicly available datasets to find instances where a drug or cell line of interest has been profiled, and to view and compare the dose-response data for a specific cell line - drug pair from any of the studies included in the database.</p>
	</br>
	</br>
	<h2>Examples of queries</h2>
	<p>Cell lines? Try typing <a id="hide-cl-overlay" href="javaScript:void(0);" onclick="show('cl-info')">MCF7</a> </p>
	<div id="cl-info" style="display:none;" class="about-search">
		<figure>
			<%= image_tag("about/cell-line-search.png", alt:"Search for a cell.", class:'overlay-image') %>
			<figcaption id="overlay-caption"> Example search for a cell line. </figcaption>
		</figure>
	</div>
	<p>Tissues? Try typing <a id="hide-t-overlay" href="javaScript:void(0);" onclick="show('t-info')">Breast</a> </p>
	<div id="t-info" style="display:none;" class="about-search">
		<figure>
			<%= image_tag("about/tissue-search.png", alt:"Search for a tissue.", class:'overlay-image') %>
			<figcaption id="overlay-caption"> Example search for a tissue.</figcaption>
		</figure>
	</div>
	<p>Drugs? Try typing <a id="hide-drugs-overlay" href="javaScript:void(0);" onclick="show('drugs-info')">Paclitaxel</a> </p>
	<div id="drugs-info" style="display:none;" class="about-search">
		<figure>
			<%= image_tag("about/drugs-search.png", alt:"Search for a drug.", class:'overlay-image') %>
			<figcaption id="overlay-caption"> Example search for a drug. </figcaption>
		</figure>
	</div>
  <p>Drug dose-response curves? Try typing <a id="hide-ddrc-overlay" href="javaScript:void(0);" onclick="show('ddrc-info')">MCF7 Paclitaxel</a> </p>
	<div id="ddrc-info" style="display:none;" class="about-search">
		<figure>
			<%= image_tag("about/drug-dose-response-curve-search.png", alt:"Search for a drug dose response curve.", class:'overlay-image') %>
			<figcaption id="overlay-caption"> Example search for a drug dose-response curve. </figcaption>
		</figure>
	</div>
		</br>
	<p><a><%= link_to root_path do %>Start searching<% end %></a> across pharmacogenomic datasets and do not hesitate to give us feedback on <a href="https://github.com/bhklab/PharmacoDb-web">GitHub</a>.</p>
	</br>
	</br>
	<h2>About the Lab</h2>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The <a href="https://www.pmgenomics.ca/bhklab/">BHKLAB</a> is composed of a multidisciplinary team of researchers analyzing high-dimensional molecular and imaging data to develop new predictive tools for anticancer therapies. We develop databases and analysis pipelines to leverage large compendia of pharmacogenomic datasets for biomarker discovery and drug repurposing. The BHKLAB is part of the Princess Margaret Cancer Centre – University Health Network, located in the heart of the Toronto Discovery District in Ontario, Canada</p>
	<div class="about-search">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.4364889480303!2d-79.39081378450204!3d43.65989117912103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34b632b77689%3A0x901c210dff19e5a4!2s101+College+St%2C+Toronto%2C+ON+M5G+1L7!5e0!3m2!1sen!2sca!4v1502307889999" width="100%" height="600" frameborder="0" style="border:0" align="center	" allowfullscreen></iframe>
	</div>
</section>
<script type="text/javascript">
function show(elem_id){
	var elem = document.getElementById(elem_id)
	var display = elem.style.display
	elem.style.display = display == 'none' ? 'block' : 'none';
}
</script>
<%= render 'components/footer' %>
