<script>
particlesJS('particles-js', {
  "particles": {
    "number": {
      "value": 70,
      "density": {
        "enable": true,
        "value_area": 800
      }
    },
    "color": {
      "value": "#e62d2d"
    },
    "shape": {
      "type": "triangle",
      "stroke": {
        "width": 0,
        "color": "#000000"
      },
      "polygon": {
        "nb_sides": 5
      },
      "image": {
        "src": "img/github.svg",
        "width": 100,
        "height": 100
      }
    },
    "opacity": {
      "value": 0.3,
      "random": false,
      "anim": {
        "enable": false,
        "speed": 1,
        "opacity_min": 0.1,
        "sync": false
      }
    },
    "size": {
      "value": 4,
      "random": true,
      "anim": {
        "enable": false,
        "speed": 40,
        "size_min": 0.1,
        "sync": false
      }
    },
    "line_linked": {
      "enable": true,
      "distance": 150,
      "color": "#000000",
      "opacity": 0.4,
      "width": 1
    },
    "move": {
      "enable": true,
      "speed": 2,
      "direction": "none",
      "random": false,
      "straight": false,
      "out_mode": "out",
      "bounce": false,
      "attract": {
        "enable": false,
        "rotateX": 600,
        "rotateY": 1200
      }
    }
  },
  "interactivity": {
    "detect_on": "canvas",
    "events": {
      "onhover": {
        "enable": true,
        "mode": "grab"
      },
      "onclick": {
        "enable": true,
        "mode": "push"
      },
      "resize": true
    },
    "modes": {
      "grab": {
        "distance": 150,
        "line_linked": {
          "opacity": 1
        }
      },
      "bubble": {
        "distance": 400,
        "size": 40,
        "duration": 2,
        "opacity": 8,
        "speed": 3
      },
      "repulse": {
        "distance": 200,
        "duration": 0.4
      },
      "push": {
        "particles_nb": 4
      },
      "remove": {
        "particles_nb": 2
      }
    }
  },
  "retina_detect": true
});
</script>
<!-- hero section -->
  <div id="explore-wrapper">
    <div id="hero-hdr-base">
      <%= render 'components/explore_header' %>
    </div>
    <%= render 'components/sidebar' %>
    <div class="batch-pmdb-crumb-base">
        <div class="batch-pcb-wrapper">
           <ol class="batch-pcb-list">
              <li><%= link_to root_path do %>Home<% end %><i>/</i></li>
              <li><%= link_to explore_path do %>Explore<% end %><i>/</i></li>
           </ol>
        </div>
     </div>
    <div id="explore-stats-wrapper">
      <div id="explore-title">
        <h2> Explore PharmacoDB! </h2>
      </div>
      <div id="explore-subtitle">
        <% if !@is_cell_lines %>
          <h3> Step 1: select tissues / targets </h3>
        <% else %>
          <h3> Step 2: select cell line / drug </h3>
        <% end %>
      </div>
      <div id="confirm-selection-wrapper">
        <a id="show-all-btn" href="/explore" class="explore-btn">
          <span>SHOW ALL</span>
        </a>
        <a id="confirm-selection-btn" class="explore-btn">
          <span>NEXT</span>
        </a>
      </div>
      <div id="annotation-columns">
        <div class="annotation-wrapper" id=<%= @is_cell_lines ? 'annotation-default' : 'annotation-selectable'  %> >
          <p class="annotation-title">tissues</p>
          <p class="annotation-count" id="stat1"></p>
          <script type="text/javascript">var stat1 = new CountUp("stat1", 0, <%= @tissues_count %>, 0, 2.5, options); stat1.start();</script>
          <div id="annotation-scroll-pane">
            <% @tissues.each do |t| %>
              <div class="annotation-tissue" tissue-id=<%= t['tissue_id'] %> tissue-active=<%= @is_tissues && !@is_cell_lines ? 'true' : 'false' %> >
                <div class="info-icon"><a href=<%= "/tissues/" + t['tissue_id'].to_s %>><i class="ion-ios-information-outline" aria-hidden="true"></i></a></div>
                <%= link_to ( (t['tissue_name'].include? "_") ? t['tissue_name'].gsub(/_/, ' ') : t['tissue_name']), explore_path(:tid => t['tissue_id']), :class => 'inactiveLink', :method => :post %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="annotation-wrapper" id=<%= @is_cell_lines ? 'annotation-selectable' : 'annotation-default' %> >
          <p class="annotation-title">cell lines</p>
          <p class="annotation-count" id="stat2"></p>
          <script type="text/javascript">var stat2 = new CountUp("stat2", 0, <%= @cell_lines_count %>, 0, 2.5, options); stat2.start();</script>
          <div id="annotation-scroll-pane" >
            <% @cell_lines.each do |c| %>
              <div class="annotation-cell-line" cell-line-id=<%= c['cell_id'] %> cell-line-active=<%= @is_cell_lines ? 'true' : 'false' %> >
                <div class="info-icon"><a href=<%= "/cell_lines/" + c['cell_id'].to_s %>><i class="ion-ios-information-outline" aria-hidden="true"></i></a></div>
                <%= link_to c['cell_name'], explore_path(:tid => c['cell_id']), :class => 'inactiveLink', :method => :get %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="annotation-wrapper" id=<%= @is_drugs ? 'annotation-selectable' : 'annotation-default' %> >
          <p class="annotation-title">drugs</p>
          <p class="annotation-count" id="stat3"></p>
          <script type="text/javascript">var stat3 = new CountUp("stat3", 0, <%= @drugs_count %>, 0, 2.5, options); stat3.start();</script>
          <div id="annotation-scroll-pane" >
            <% @drugs.each do |dr| %>
              <div class="annotation-drug" drug-id=<%= dr['drug_id'] %> drug-active=<%= @is_drugs ? 'true' : 'false' %>  >
                <div class="info-icon"><a href=<%= "/drugs/" + dr['drug_id'].to_s %>><i class="ion-ios-information-outline" aria-hidden="true"></i></a></div>
                <%= link_to dr['drug_name'], explore_path(:tid => dr['drug_id']), :class => 'inactiveLink', :method => :get %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="annotation-wrapper" id=<%= @is_cell_lines ? 'annotation-default' : 'annotation-selectable' %> >
          <p class="annotation-title">targets</p>
          <p class="annotation-count" id="stat4"></p>
          <script type="text/javascript">var stat4 = new CountUp("stat4", 0, <%= @drug_targets_count %>, 0, 2.5, options); stat4.start();</script>
          <div id="annotation-scroll-pane" >
            <% @drug_targets.each do |dt| %>
              <div class="annotation-target" target-id=<%= dt['target_id'] %> target-active=<%= @is_drug_targets && !@is_cell_lines ? 'true' : 'false' %> >
                <div class="info-icon"><a href=<%= "/genes/" + dt['target_id'].to_s %>><i class="ion-ios-information-outline" aria-hidden="true"></i></a></div>
                <%= link_to dt['target_name'], explore_path(:dt => dt['target_id']), :class => 'inactiveLink', :method => :get %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
