<% provide(:title, "Gene") %>
<div id="hdr-default-base">
	<%= render 'components/header' %>
</div>
<%= render 'components/sidebar' %>

<div class="pmdb-crumb-base">
   <div class="pcb-wrapper">
      <ol class="pcb-list">
         <li><%= link_to root_path do %>Home<% end %><i>/</i></li>
         <li><%= link_to genes_path do %>Genes<% end %><i>/</i></li>
         <li class="pcb-list-active"><%= @gene_name %></li>
      </ol>
   </div>
</div>
<% if @exit_code == 0 %>
<!-- drugs page wrapper -->
<section id="pmdb-gene-container">
   <div id="pmdb-prof-wrapper" class="pmdb-prof-wrapper-padded">
      <div id="count_stat"></div>
      <script type="text/javascript">
         $("#histogramcount_stat").remove()
         $("#buttoncount_stat").remove()
         $(document).ready(makeHistogram(<%= @count_ids %>, "count_stat", "Frequency of Unique Targets per Drug"))
      </script>
      <a id="genes"></a>
      <%= render 'components/genes_search_form', locals: { rest_uri: "/genes", gene_param: "g" } %>
      <table class="table table-bordered profile-table" style='table-layout: fixed'>
         <caption>List of all genes in Pharmacodb - currently <%= @genes_count %> in total.</caption>
         <thead>
            <tr>
               <th colspan="<%= @colspan %>">Gene Name</th>
            </tr>
         </thead>
         <tbody>
            <% @genes.each_slice(2) do |gene_slice| %>
            <tr>
              <% gene_slice.each do |d| %>
              <td><a href="/genes/<%= d['gene_id'] %>" title=""><%= d['gene_name'] %></a></td>
              <% end %>
           </tr>
           <% end %>
        </tbody>
     </table>
     <div class="flickr_pagination">
      <%= will_paginate @genes, :params => {:anchor => "genes"} %>
   </div>
</div>
</section>
<% elsif @exit_code == 1 %>
<!-- gene page wrapper -->
<section id="pmdb-gene-container">
 <%= render 'components/contact_sidebar', :subject => "genes", :title => @gene_name, :id => @gene_id %>
 <div id="pmdb-prof-wrapper">
   <div id="pmdb-prof-centercol">
      <!-- profile card -->
      <div class="ppl-card">
         <a id="pmdb-obj-name" href="/genes/<%= @gene_id %>" title=""><h1><%= @gene_name %></h1></a>
 <!--            <h3 class="ppl-card-title">Description</h3>
   <p>N/A</p> -->
   <h3 class="ppl-card-title">Synonyms</h3>
   <% if @synonyms == "N/A" %>
   <p><%= @synonyms %></p>
   <% else %>
   <table>
<!--       <thead>
         <tr>
            <th>Sources</th>
            <th>Names Used</th>
         </tr>
      </thead> -->
      <tbody>
         <% @synonyms.each do |s| %>
         <tr>
            <td> <b> Ensembl Gene ID: </b></td>
            <td> <a href="http://www.ensembl.org/Homo_sapiens/Gene/Summary?g=<%=s%>" target="_blank"> 
               <%= s %>
            </a>
            </td>
            <!-- <td><%= s[1] %></td> -->
         </tr>
         <% end %>
      </tbody>
   </table>
   <% end %>
   <h3 class="ppl-card-title">Links</h3>
   <table>
      <tr>
         <td> <b> Genecard: </b></td>  <td> <a href="http://www.genecards.org/cgi-bin/carddisp.pl?gene=<%=@gene_name %>" target="_blank"> <%=@gene_name %></a></td>
      </tr>
   </table>

</div>
<!-- genes stat card -->
<% unless @drugs.empty? %>
<div class="ppl-card ppl-card-2">
   <h2 class="page-card-title">Compounds tested targeting <%= @gene_name %></h2>
   <h5 class="page-card-subtitle">
      <% if not @search_drugs %>
      <strong><%= @num_drugs %></strong> compounds have been tested on <%= @gene_name %>, using data from <strong><%= @numdatasets %></strong> dataset(s).
      <% else %>
      <%= @caption_drugs %>
      <% end %>
   </h5>
   <a id="compounds"></a>
   <%= render 'components/drug_search_form', locals: { rest_uri: "/genes/".concat(@gene_id), drug_param: "d" } %>
   <table id="ppl-card2-table">
      <thead>
         <tr>
            <th><%= sortable("compounds", "Compounds", "compounds") %></th>
            <th class="ppl-table-center"><%= sortable("datasets", "Datasets", "compounds") %></th>
            <th class="ppl-table-center"><%= sortable("experiments", "Experiments", "compounds") %></th>
            <!-- <th class="ppl-table-center">Tissue Type</th> -->
         </tr>
      </thead>
      <tbody>
         <% @drugs.each do |c| %>
         <tr>
            <td><a href="/drugs/<%= c[3] %>"><%= c[0] %></a></td>
            <td class="ppl-table-center"><%= c[1].html_safe %></td>
            <td class="ppl-table-center"><%= c[2] %></td>
            <!-- <td class="ppl-table-center"><%= c[4] %></td> -->
         </tr>
         <% end %>
      </tbody>
   </table>
   <div class="flickr_pagination">
      <%= will_paginate @drugs, :param_name => 'dpage', inner_window: 1, outer_window: 1, :params => {:anchor => "compounds"} %>
   </div>
   <a href="/genes/<%= @gene_id %>?download=drug_table" class="downloadButton"> Download CSV </a>

</div>
<% end %>
</div>
<div id="pmdb-prof-centercol">

<% unless @ccounts.empty? || @ccounts.to_set == [0].to_set  %>
   <div class="ppl-card ppl-chart-card">
      <div id="pmdb-gdrug-plot">
         <script type="text/javascript">
            $("#barPlotpmdb-gdrug-plot").remove()
            $("#buttonpmdb-gdrug-plot").remove()
            $(document).ready(makeBarPlot(<%= raw @snames %>,<%= @ccounts %>, "", "pmdb-gdrug-plot", "", "Number of compounds tested targeting <%= @gene_name %> (per dataset)", "compounds", ""))
            
        </script>
      </div>
   </div>

<% end %>

<!-- Gene Drug Associations -->
         <div class="ppl-card ppl-card-2">
            <h2 class="page-card-title">Top compounds associated with response to <%= @gene_name %></h2>
            <!-- <h5> </h5> --> <br>
            <a id="gene-drug"></a>
            <%= render 'components/drug_search_form', locals: { rest_uri: "/genes/".concat(@gene_id), drug_param: "m" } %>
            <table id="ppl-card2-table">
               <thead>
                  <tr>
                     <th class="ppl-table-center">Feature Type</th>
                     <th class="ppl-table-center"><%= sortable("drug", "Compound", "gene-drug") %></th>
                     <th class="ppl-table-center"><%= sortable("gd_dataset", "Dataset", "gene-drug") %></th>
                     <th class="ppl-table-center"><%= sortable("stat", "Stat", "gene-drug") %></th>
                     <th class="ppl-table-center">Standardized </br> <%= sortable("coef", "Coefficient", "gene-drug") %></th>
                     <th class="ppl-table-center">Nominal ANOVA </br> <%= sortable("anova", "p-value", "gene-drug") %></th>
                  </tr>
               </thead>
               <tbody>
                  <% @gene_drug_associations.each do |gd| %>
                  <tr>
                      <td> mRNA </td>
                      <td> <a href="/drugs/<%= gd[6]%>"> <%= gd[2] %> </a> </td>                     
                      <td> <a href="/datasets/<%= gd[0]%>"> <%= gd[1] %> </a> </td>
                      <td> <%= gd[3] %> </td>
                      <td> <%= "%1.2g" % gd[4] %> </td>
                      <td> <%= "%1.1g" % gd[5] %> </td> 
                   </tr>
                  <% end %>
               </tbody>
            </table>
            <div class="flickr_pagination">
               <%= will_paginate @gene_drug_associations, :param_name => 'gdpage', inner_window: 1, outer_window: 1, :params => {:anchor => "gene-drug"} %>
            </div>
            <a href="/genes/<%= @gene_id %>?download=drug_table" class="downloadButton"> Download CSV </a>
         </div>
</div>
</section>
<% end %>

<%= render 'components/footer' %>
