<% provide(:title, "Docs") %>
<div id="hdr-default-base">
	<%= render 'components/header' %>
</div>
<%= render 'components/sidebar' %>
<div class="pmdb-crumb-base">
   <div class="pcb-wrapper">
      <ol class="pcb-list">
         <li><%= link_to root_path do %>Home<% end %><i>/</i></li>
         <li><%= link_to docs_path do %>Docs<% end %><i>/</i></li>
         <li class="pcb-list-active">Cell line vs. Drug</li>
      </ol>
   </div>
</div>

<section id="docs-content-container">
    <div id="docs-content-wrapper">
        <div id="dcw-left-wrapper">
            <ul>
							  <li><%= link_to docs_videos_path do %>Overview<% end %></li><br>
                <li><%= link_to docs_search_path do %>Search<% end %></li><br>
                <li><%= link_to docs_cell_lines_path do %>Cell lines<% end %></li>
                <li><%= link_to docs_tissues_path do %>Tissues<% end %></li>
                <li><%= link_to docs_drugs_path do %>Drugs<% end %></li>
                <li><%= link_to docs_datasets_path do %>Datasets<% end %></li>
                <li><%= link_to docs_datasets_intersection_path do %>Datasets Intersection<% end %></li>
                <li class="dcw-item-active"><%= link_to docs_cell_line_vs_drug_path do %>Cell line vs. Drug<% end %></li>
                <!-- <li><%= link_to docs_api_path do %>API<% end %></li> -->
            </ul>
        </div>
        <div id="dcw-right-wrapper">
            <h3>Cell line vs. Drug</h3>

            <p>Each cell line-drug combination included in PharmacoDB has a webpage associated with it. This page can be accessed by typing the names of the cell line and drug into the search bar, separated by a space. The order of cell line and drug names do not matter.</p>

            <figure>
          <%= image_tag("docs/cell_drug/search.png", alt:"Search for a drug tested on a cell line.", class:'docs-image') %>
          <figcaption> Search for a drug tested on a cell line. </figcaption>
        </figure>
			<p>The page contains a plot recording the doses of that drug tested on that cell line in each dataset, along with the cell viability values that were observed at those doses. Each replicate from each dataset of the experiment is plotted separately</p>
            <figure>
          <%= image_tag("docs/cell_drug/plot.png", alt:"Plot of drug dose response curves.", class:'docs-image') %>
          <figcaption> Plot of drug dose response curves. </figcaption>
        </figure>
        </div>

    </div>
</section>

<%= render 'components/footer' %>
