<% provide(:title, "Docs") %>
<div id="hdr-default-base">
	<%= render 'components/header' %>
</div>
<%= render 'components/sidebar' %>
<div class="pmdb-crumb-base">
   <div class="pcb-wrapper">
      <ol class="pcb-list">
         <li><%= link_to root_path do %>Home<% end %><i>/</i></li>
         <li><%= link_to docs_path do %>Docs<% end %><i>/</i></li>
         <li class="pcb-list-active">Datasets Intersection</li>
      </ol>
   </div>
</div>

<section id="docs-content-container">
    <div id="docs-content-wrapper">
        <div id="dcw-left-wrapper">
            <ul>
							  <li><%= link_to docs_videos_path do %>Overview<% end %></li><br>
                <li><%= link_to docs_search_path do %>Search<% end %></li><br>
                <li><%= link_to docs_cell_lines_path do %>Cell lines<% end %></li>
                <li><%= link_to docs_tissues_path do %>Tissues<% end %></li>
                <li><%= link_to docs_drugs_path do %>Drugs<% end %></li>
                <li><%= link_to docs_datasets_path do %>Datasets<% end %></li>
                <li class="dcw-item-active"><%= link_to docs_datasets_intersection_path do %>Datasets Intersection<% end %></li>
                <li><%= link_to docs_cell_line_vs_drug_path do %>Cell line vs. Drug<% end %></li>
                <!-- <li><%= link_to docs_api_path do %>API<% end %></li> -->
            </ul>
        </div>
        <div id="dcw-right-wrapper">
            <h3>Datasets Intersection</h3>

            <p>The intersection of datsets included in PharmacoDB can be queried by typing the names of the datasets to be compared into the search bar, separated by spaces.</p>
            <figure>
            <%= image_tag("docs/dataset_int/search.png", alt:"Look up the intersection between studies.", class:'docs-image') %>
            <figcaption> Look up the intersection between studies. </figcaption>
            </figure>
			<p>The page contains tables of the common drugs, tissues, and cell lines in the queried datasets.</p>
            <figure>
            <%= image_tag("docs/dataset_int/table.png", alt:"Table of common cell lines.", class:'docs-image') %>
            <figcaption> Table of common cell lines. </figcaption>
            </figure>
        </div>
    </div>
</section>

<%= render 'components/footer' %>
