<% provide(:title, "Docs") %>
<div id="hdr-default-base">
	<%= render 'components/header' %>
</div>
<%= render 'components/sidebar' %>
<div class="pmdb-crumb-base">
   <div class="pcb-wrapper">
      <ol class="pcb-list">
         <li><%= link_to root_path do %>Home<% end %><i>/</i></li>
         <li><%= link_to docs_path do %>Docs<% end %><i>/</i></li>
         <li class="pcb-list-active">Tissues</li>
      </ol>
   </div>
</div>

<section id="docs-content-container">
    <div id="docs-content-wrapper">
        <div id="dcw-left-wrapper">
            <ul>
								<li><%= link_to docs_videos_path do %>Overview<% end %></li><br>
                <li><%= link_to docs_search_path do %>Search<% end %></li><br>
                <li><%= link_to docs_cell_lines_path do %>Cell lines<% end %></li>
                <li class="dcw-item-active"><%= link_to docs_tissues_path do %>Tissues<% end %></li>
                <li><%= link_to docs_drugs_path do %>Drugs<% end %></li>
                <li><%= link_to docs_datasets_path do %>Datasets<% end %></li>
                <li><%= link_to docs_datasets_intersection_path do %>Datasets Intersection<% end %></li>
                <li><%= link_to docs_cell_line_vs_drug_path do %>Cell line vs. Drug<% end %></li>
                <!-- <li><%= link_to docs_api_path do %>API<% end %></li> -->
            </ul>
        </div>
        <div id="dcw-right-wrapper">
        <h3>Tissues</h3>

        <p>Each tissue type included in PharmacoDB has a webpage associated with it. These pages can be accessed by searching for a tissue type through the search bar.</p>

        <figure>
          <%= image_tag("docs/tissue/search.png", alt:"Search for a tissue.", class:'docs-image') %>
          <figcaption> Example search for a tissue. </figcaption>
        </figure>
			<p>Each tissue type page starts with a card which displays information about the datasets which performed experiments on that tissue type, with synonyms for that tissue within each dataset.</p>
      <figure>
      <%= image_tag("docs/tissue/description.png", alt:"Description of a tissue.", class:'docs-image') %>
      <figcaption> Description card of a tissue</figcaption>
      </figure>
      <p> The page includes a table of cell lines of that tissue type included in PharmacoDB. Clicking on each cell name takes you to a page for that cell line, with information of about the datasets it is found in and the drugs tested with that cell line.</p>
      <figure>
      <%= image_tag("docs/tissue/cellTable.png", alt:"Table of cell lines of a tissue type.", class:'docs-image') %>
      <figcaption> Table of cell lines of a tissue type.</figcaption>
      </figure>
      <p> The page also includes a table of drugs tested on that tissue type, with the studies in which the drug - tissue combination can be found and the total number of experiments across all datasets.</p>
      <figure>
        <%= image_tag("docs/tissue/drugTable.png", alt:"Table of drugs tested on cell lines of a given tissue type.", class:'docs-image') %>
        <figcaption> Table of drugs tested on cell lines of a given tissue type. </figcaption>
      </figure>
			<p>Finally, the page concludes with plots comparing the number of drugs tested on and cell lines of that tissue type in each PharmacoDB dataset.</p>
      <figure>
      <%= image_tag("docs/tissue/cellGraph.png", alt:"Graph of cell lines of a tissue type across datasets.", class:'docs-image') %>
      <figcaption> Graph of cell lines of a tissue type across datasets. </figcaption>
      </figure>
        </div>
    </div>
</section>

<%= render 'components/footer' %>
